* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif, Chiron Hei HK;
}
 

body {
  margin: 0;
  min-height: 100vh;
  background: #f4f9fc;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.cocos{
 display: block;       /* прави снимката блоков елемент */
  margin: 20px auto 0;  /* 20px отгоре, автоматично центриране по хоризонтала */
  width: 300px;         /* ширина на снимката */
  max-width: 90%;       /* адаптира се на малки екрани */
  border-radius: 10px;
  position: relative;
  top: -50px;
}

/* Main container */
.app {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

/* Title */


/* Search bar */
.search-wrapper {
  display: flex;
  align-items: center;
  background: #b9dcf2;
  border-radius: 999px;
  padding: 12px 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 0 auto 40px;
  max-width: 500px;
}

.search-wrapper input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 22px;
  outline: none;
}

.icon {
  font-size: 18px;
  color: #ff5fa2;
  background: transparent;
  border:none
}

.clear {
  cursor: pointer;
}

/* Speech bubble */
.bubble {
  position: relative;
  width: 620px;
  margin: 60px auto;
  background: #bfe3f7;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}


/* Bubble arrow */
.bubble::after {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #bfe3f7;
}


.chosen {
  text-align: center;
  font-weight: bold;
  color: #ff5c9a;
  margin-bottom: 5px;
  font-size: 25pt;
}

/* Card */
.card {
  position: relative;
  background-image: url("images/Padashho_neshho_samobqlo.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  background-color: white;
  border-radius: 20px;
  padding: 24px;
  min-height: 250px;

  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}


/* Badge */
.badge {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: bold;
  margin-bottom: 10px;
}

.good {
  background: #b7db3c;
  color: white;
  position: left;
  font-size: 20pt;
}
.bad {
  background: #e7423a;
  color: white;
  position: left;
  font-size: 20pt;
}

.card p {
  margin: 10px 0 0;
  font-size: 20px;
  color: #333;
}

.warning {
  background: #f7b731;
  color: white;
  font-size: 20pt;
}
/* разделя card на 2 части */
.card-content{

display:flex;

justify-content:space-between;

align-items:center;

}


/* лява страна */
.card-left{

width:65%;

text-align:left;

}


/* дясна страна */
.card-right{

width:35%;

text-align:right;

}


/* снимка */
.card-right img{

width:140px;


}
